.header__logo {
    max-width: 142px;
    min-height: 33px;
}

@media screen and (max-width: 1083px) {
    .header__logo {
        margin-top: 0;
        margin-left: 27px;
        max-width: 104px;
        min-height: 24px;
    }
}