.elements__button-delete {
    width: 18px;
    height: 19px;
    background-image: url(../../../images/delete-button.svg);
    background-repeat: no-repeat;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    object-fit: cover;
    cursor: pointer;

}

.elements__button-delete:hover {
    opacity: 0.6;
}