.header__container {
    margin: 8px 2px 0 auto;
    padding: 0;
    display: flex;
    /* justify-content: end; */
    height: 22px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 122%;
    text-align: right;
    color: #FFFFFF;
}

/* @media screen and (max-width: 1083px) {
    .header__container {
        margin-right: 34px;
    }
} */

@media screen and (max-width: 580px) {
    .header__container {
        margin-right: 0;
        margin-left: 0;
        height: 17px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-top: 40px;
        flex-flow: column;
        align-items: center;
    }
}