.form__item {
    width: 100%;
    border: 1px solid rgb(255, 255, 255, .2);
    border-bottom-style: groove;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding: 0 0 5px;
    color: #000000;
}