.popup__button-close {
    position: absolute;
    background-image: url(../../../images/Close-Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    top: -40px;
    right: -40px;
    border: 0;
}

.popup__button-close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
        right: 0;
    }
}