.popup__container {
    width: 430px;
    background: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    padding: 34px 36px 35px;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
    .popup__container {
        max-width: 282px;
        height: 322px;
        padding: 25px 22px 25px;
    }
}